@charset "UTF-8";
/*Couleurs*/
/*Animations*/
@-webkit-keyframes ellipse {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}
@keyframes ellipse {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
    transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
    transform: translateY(-6.4px);
  }
}

/*en-tête*/
/*main*/
/*pied de page*/
/*responsive 1024*/
/*responsive 625*/
/*Général*/
body {
  margin: 0px;
}

/*Header*/
h1 {
  font-size: 83px;
  text-align: center;
  background-color: #569c87;
  color: #f0c64f;
  padding: 28px 0px;
  margin: 0px;
}

/*Main*/
h2 {
  text-align: center;
  font-size: 40px;
}

h3 {
  font-size: 28px;
  text-align: center;
}

.blocmenus {
  margin: 1% auto 8% auto;
  min-width: 860px;
  max-width: 684px;
  box-shadow: 0px 0px 10px 4px #e7e7e7;
  -moz-box-shadow: 0px 0px 10px 4px #e7e7e7;
  -webkit-box-shadow: 0px 0px 10px 4px #e7e7e7;
}

.blocmenus .choix {
  margin-bottom: 10%;
}

table {
  border-collapse: separate;
  margin: auto;
  table-layout: fixed;
  max-width: 38%;
  min-width: 90%;
}

table caption {
  font-size: 25px;
  padding: 2% 0;
}

table tr td {
  font-size: 20px;
  padding: 2% 0;
}

h4 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 7%;
}

.blocmenus {
  background: #fdfffd;
}

/*pied de page*/
.bar_footer {
  background-color: #569c87;
  height: 50px;
  color: #f0c64f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.legal {
  margin: 8px 20px;
}

.contact {
  margin: 8px 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

/*Responsive tablette 1024px*/
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 75px;
  }
  .blocmenus {
    min-width: 90%;
    max-width: 78%;
  }
  table {
    max-width: 100%;
    border-spacing: 6px;
  }
  table caption {
    font-size: 24px;
  }
  table tr .plat {
    width: 66%;
    font-size: 20px;
  }
  table tr .prix {
    width: 8%;
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .legal {
    font-size: 25px;
  }
  .contact {
    font-size: 25px;
  }
}

/*Responsive mobile 625px*/
@media screen and (max-width: 625px) {
  h1 {
    font-size: 60px;
  }
  main {
    margin: 0%;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  .blocmenus {
    width: 100%;
    margin: 1% auto 20% auto;
  }
  .blocmenus .titre {
    font-size: 20px;
  }
  table caption {
    font-size: 20px;
  }
  table tr .plat {
    width: 70%;
    font-size: 16px;
  }
  table tr .prix {
    width: 10%;
    font-size: 16px;
  }
}

@media screen and (max-width: 625px) {
  .legal {
    font-size: 15px;
  }
  .contact {
    font-size: 15px;
  }
}
/*# sourceMappingURL=lapalettedugout.css.map */