@import "D:/P3_Ohmyfood/design/commun.scss";
/*Général*/
body
{
    margin: 0px;
}
/*Header*/
@include header;
/*Main*/
@include main_pages_menus ;
.blocmenus
{
    background:$backgroundMenu4;
    h3
    {
        @include paletteColor;
        padding-top: 4%;
        font-size: 60px;
        font-family: "Kaushan Script", sans-serif;
    }
    h4
    {
        @include paletteColor;
        font-size: 30px;
        padding-bottom: 4%;
        font-family: "Kaushan Script", sans-serif;
    }
    caption
    {
        font-family: "Kalam", sans-serif;
    }
    tr
    {
        td
        {
            font-family: "Kalam", sans-serif;
        }
    }
}
/*pied de page*/
@include footer;
/*Responsive tablette 1024px*/
@include responsive_tablette;
@media screen and (max-width:1024px)
{
    .blocmenus
    {
        h3
        {
            font-size: 40px;
        }
        h4
        {
            font-size: 24px;
        }
    }
}
@include footer_tablette;
/*Responsive mobile 625px*/
@include responsive_mobile;
@media screen and (max-width:625px)
{
    .blocmenus
    {
        h3
        {
            font-size: 32px;
        }
        h4
        {
            font-size: 18px;
        }
    }
}
@include footer_mobile;