@import "D:/P3_Ohmyfood/design/commun.scss";
/*Général*/
@include global;
/*Header*/
@include header;
main
{
    margin-bottom: 15%;
}
h2
{
    font-size: 40px;
    text-align: center;
    color: $ColorText;
    padding: 28px 0px;
    margin: 0px;
}
table
{
    border-collapse: collapse;
    margin: auto;
    table-layout: fixed;
    width: 90%;
    caption
    {
        padding: 28px 0px;
        margin: 0px;
    }
    tbody
    {
        tr
        {
            td
            {
                border: 1px solid $primaryColor;
                padding: 1% 5% 1% 2%;
            }
        }
    }
}
.blocText
{
    margin: 3% 5%;
    text-align: justify;
    width: 90%;
    h3
    {
        text-align: center;
        font-size: 20px;
        color: $ColorText;
    }
    p
    {
        text-align: left;
        font-size: 16px;
        color: $ColorText;
    }
}
/*pied de page*/
@include footer;
/*Responsive tablette 1024px*/
@include footer_tablette;
@media screen and (max-width:1024px)
{
    main 
    {
        margin-bottom: 15%;
    }
    h1
    {
        font-size: 75px;
    }
    h3
    {
        font-size: 18px;
    }
    td
    {
        font-size: 16px;
    }
}
/*Responsive mobile 625px*/
@include footer_mobile;
@media screen and (max-width:625px)
{
    body
    {
        min-width: 655px;
        height: 2020px;
    }
    h1
    {
        font-size: 60px;
    }
    table
    {
        min-width: 90%;
    }
    .blocText
    {
        margin: 8% 5%;
    }
}