/*Raccourcis variables*/
$primaryColor :#59A989;
$primaryColorText :#FFDE06;
$surtitleColor :white;
$ColorText : black;
/*Général*/
body
{
    margin: 0px;
}
/*Header*/
h1
{
    font-size: 83px;
    text-align: center;
    background-color:$primaryColor;
    color: $primaryColorText;
    padding: 28px 0px;
    margin: 0px;
}
h2
{
    font-size: 40px;
    text-align: center;
    color: $ColorText;
    padding: 28px 0px;
    margin: 0px;
}
table
{
    border-collapse: collapse;
    margin: auto;
    table-layout: fixed;
    max-width: 38%;
    min-width: 60%;
    caption
    {
        padding: 28px 0px;
        margin: 0px;
    }
    tr
    {
        td
        {
            border: 1px solid $primaryColor;
            width: 50%;
            padding: 1% 5% 1% 2%;
        }
    }
}
.blocText
{
    margin: 3% 20%;
    text-align: justify;
    max-width: 60%;
    min-width: 11%;
    h3
    {
        text-align: center;
        font-size: 20px;
        color: $ColorText;
    }
    p
    {
        text-align: left;
        font-size: 16px;
        color: $ColorText;
    }
}
/*pied de page*/
footer
{
    background-color: $primaryColor;
    height: 50px;
    color: $primaryColorText;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: bold;
}
.legal
{
    margin: 8px 20px;
}
.contact
{
    margin: 8px 20px;
}
a
{
    text-decoration: none;
    color: inherit;
    
    &:visited
    {
        color: inherit;
    }
}
.bar_footer
{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
/*Responsive tablette 1024px*/
@media screen and (max-width:1024px)
{
h1
{
    font-size: 75px;
}
h3
{
    font-size: 18px;
}
td
{
    font-size: 16px;
}
.legal
{
    font-size: 25px;
}
.contact
{
    font-size: 25px;
}
}
/*Responsive mobile 625px*/
@media screen and (max-width:625px)
{
body
{
    min-width: 573px;
}
h1
{
    font-size: 60px;
}
table
{
    min-width: 66%;
}
.blocText
{
    max-width: 82%;
    margin: 10% auto;
}
.legal
{
    font-size: 15px;
}
.contact
{
    font-size: 15px;
}
}