@import "D:/P3_Ohmyfood/design/commun.scss";
/*Général*/
body
{
    margin: 0px;
}
/*Header*/
@include header;
/*Main*/
@include main_pages_menus ;
.blocmenus
{
    background: $backgroundMenu2;
    h3
    {
    font-family: "Croissant One", sans-serif;
    padding-top: 4%;
    font-size: 35px;
    @include chicColor;
    }
    h4
    {
    font-size: 30px;
    padding-bottom: 4%;
    @include chicColor;
    }
}
caption
{
    font-weight: bold;
}
#colorline1::before, #colorline1::after
{
    border-bottom:$colorMenu2_1 solid;
    border-width: 6px;
}
#colorline2::before, #colorline2::after
{
    border-bottom:$colorMenu2_2 solid;
    border-width: 6px;
}
#colorline3::before, #colorline3::after
{
    border-bottom:$colorMenu2_3 solid;
    border-width: 6px;
}
.entrance2
{
    color: $colorMenu2_1;
}
.maincourse2
{
    color: $colorMenu2_2;
}
.dessert2
{
    color: $colorMenu2_3;
}
/*pied de page*/
@include footer;
/*Responsive tablette 1024px*/
@include responsive_tablette;
@include footer_tablette;
/*Responsive mobile 625px*/
@include responsive_mobile;
@media screen and (max-width:625px)
{
    h3
    {
        font-size: 24px;
    }
    h4
    {
        font-size: 18px;
    }
}
@include footer_mobile;