@import "D:/P3_Ohmyfood/design/commun.scss";
/*Général*/
body
{
    margin: 0px;
}
/*Header*/
@include header;
/*Main*/
@include main_pages_menus ;
.blocmenus
{
    background: $backgroundMenu2;
    .titleChicColor
    {
        background-color: $backgroundMenu2;
        border: 1px solid $backgroundMenu2;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .2s;
    }
    h3
    {
        font-family: "Croissant One", sans-serif;
        font-size: 35px;
        background: -webkit-linear-gradient(top left, $colorMenu2_1 0% 35%, $colorMenu2_2 40% 70%, $colorMenu2_3 75% 100%) no-repeat;
        color: $colorMenu2_1;
        display: block;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    h4
    {
        font-size: 30px;
        background: -webkit-linear-gradient(top left, $colorMenu2_1 0% 35%, $colorMenu2_2 40% 70%, $colorMenu2_3 75% 100%) no-repeat;
        color: $colorMenu2_1;
        display: block;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
caption
{
    font-weight: bold;
}
.entrance2
{
    color: $colorMenu2_1;
}
.maincourse2
{
    color: $colorMenu2_2;
}
.dessert2
{
    color: $colorMenu2_3;
}
/*pied de page*/
@include footer;
/*Responsive tablette 1024px*/
@include responsive_tablette;
@include footer_tablette;
/*Responsive mobile 625px*/
@include responsive_mobile;
@include footer_mobile;