@import "D:/P3_Ohmyfood/design/commun.scss";
@import "D:/P3_Ohmyfood/Pages/menu1/lanoteenchantee.scss";
@import "D:/P3_Ohmyfood/Pages/menu2/lechicalafrancaise.scss";
@import "D:/P3_Ohmyfood/Pages/menu3/ledelicedespapilles.scss";
@import "D:/P3_Ohmyfood/Pages/menu4/lapalettedugout.scss";
@import "D:/P3_Ohmyfood/Pages/ML/mentionslegales.scss";
/*Général*/
@include global;
/*Header*/
@include header;
.search_bar
{
    background-color: $searchBarColor;
    display: flex;
    min-width: 100%;
}
.btnsearch
{
    border: none;
    background-color: $searchBarColor;
    min-width: 4%;
}
.fa-search
{
    font-size: 2.5em;
    min-width: 10%;
    color: $primaryColor;
}
#site-search
{
    background-color: $searchBarColor;
    height: 40px;
    -webkit-appearance: media-slider;
    min-width: 96%;
    font-size: 17px;
}
/*corps de la page*/
.propositions_menus
{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;  
    margin: 4% 3%;
}
.menus
{
    text-align: center;
    box-shadow: 0px 0px 10px 4px $Ombre;
    -moz-box-shadow: 0px 0px 10px 4px $Ombre;
    -webkit-box-shadow: 0px 0px 10px 4px $Ombre;
    min-width: 400px;
}
.menubox1
{
    padding: 42% 11%;
    background:$backgroundMenu1;
    @include menuEffect;
    .titre1
    {
        @include zoomTitle;
        a
        {
            @include notemusic;
            .fa-itunes-note
            {
                font-size: 50px;
            }
        }
        .fontMenu1
        {
            font-family: "Devonshire", sans-serif;
            font-size: 31px;
            color: $colorMenu1;
        }
        .fontp1
        {
            font-family: "Averia Libre", sans-serif;
            font-size: 39px;
            color: $colorMenu1;
        }
    }
}
.menubox2
{
    padding: 49% 11%;
    background:$backgroundMenu2;
    @include menuEffect;
    .titre2
    {
        @include zoomTitle;
        .fontMenu2
        {
            font-family: "Croissant One", sans-serif;
            font-size: 23px;
            @include chicColor ;
        }
        .fontp2
        {
            font-family: "Judson", sans-serif;
            font-size: 40px;
            color: $colorMenu2_1;
        }
    }
}
.menubox3
{
    padding: 49% 11%;
    background:$backgroundMenu3;
    @include menuEffect;
    .titre3
    {
        @include zoomTitle;
        .fontMenu3
        {
            font-family: "Dancing Script", sans-serif;
            font-size: 35px;
            @include déliceColor;
        }
        .fontp3
        {
            font-family: "Kalam", sans-serif;
            font-size: 40px;
            color: $colorMenu3_3;
        }
    }
}
.menubox4
{
    padding: 49% 11%;
    background:$backgroundMenu4;
    @include menuEffect;
    .titre4
    {
        @include zoomTitle;
        .fontMenu4
        {
            font-family: "Kaushan Script", sans-serif;
            font-size: 29px;
            @include paletteColor;
        }
        .fontp4
        {
            font-family: "Kalam", sans-serif;
            font-size: 40px;
            color: $colorMenu4_1;
        }
    }
}
.prochainement
{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: $primaryColor;
    color: $primaryColorText;
    margin: 30px auto 150px auto;
    width: fit-content;
    width: -moz-fit-content;
    border-radius: 10px;
    padding: 1% 9%;
    font-family: "Roboto", sans-serif;
}
.fa-circle
{
    font-size: 35%;
}
#circle1
{
    @include ellipseAnim;
    animation-delay: 0s;
}
#circle2
{
    @include ellipseAnim;
    animation-delay: 0.1s;
}
#circle3
{
    @include ellipseAnim;
    animation-delay: 0.2s;
}
/*pied de page*/
@include footer;
/*Responsive tablette 1024px*/
@include responsive_tablette;
@include footer_tablette;
@media screen and (max-width:1024px)
{
#site-search
{
    height: 36px;
    min-width: 93%;
    max-width: 95%;
    font-size: 15px;
}
.propositions_menus
{
    margin: 6% 3%;
}
.menus
{
    min-width: 256px;
}
.menubox1
{
    padding: 38% 11%;
    .titre1
    {
        @include zoomTitleTablet;
        i
        {
            font-size: 2.5em;
        }
        .fontMenu1
        {
            font-size: 24px;
        }
        .fontp1
        {
            font-size: 28px;
        }
    }
}
.menubox2
{
    padding: 49% 4%;
    .titre2
    {
        @include zoomTitleTablet;
        .fontMenu2
        {
            font-size: 18px;
        }
        .fontp2
        {
            font-size: 29px;
        }
    }
}
.menubox3
{
    padding: 44% 4%;
    .titre3
    {
        @include zoomTitleTablet;
        .fontMenu3
        {
            font-size: 24px;
        }
        .fontp3
        {
            font-size: 28px;
        }
    }
}
.menubox4
{
    padding: 43% 11%;
    .titre4
    {
        @include zoomTitleTablet;
        .fontMenu4
        {
            font-size: 24px;
        }
        .fontp4
        {
            font-size: 28px;
        }
    }
}
.prochainement
{
    font-size: 25px;
    margin: 30px auto 100px auto;
    padding: 5px 55px;
}
.fa-circle
{
    font-size: 25%;
}
}
/*Responsive mobile 625px*/
@include responsive_mobile;
@include footer_mobile;
@media screen and (max-width:625px)
{
#site-search
{
    min-width: 89%;
}
.propositions_menus
{
    display: grid;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;  
    margin: 4% 8%;
}
.menus
{
    margin: 6% 2%;
    max-width: 60%;
}
.menubox1
{
    padding: 36% 0%;
}
.menubox2
{
    padding: 49% 0%;
}
.menubox3
{
    padding: 44% 0%;
}
.menubox4
{
    padding: 43% 0%;
}

.prochainement
{
    font-size: 20px;
    margin: 30px auto 100px auto;
    padding: 5px 30px;
}
}