@import "D:/P3_Ohmyfood/design/commun.scss";
/*Général*/
@include global;
/*Header*/
@include header;
.search_bar
{
    background-color: $searchBarColor;
    display: flex;
    min-width: 100%;
}
.btnsearch
{
    border: none;
    background-color: $searchBarColor;
    min-width: 4%;
}
.fa-search
{
    font-size: 2.5em;
    min-width: 10%;
    color: $primaryColor;
}
#site-search
{
    background-color: $searchBarColor;
    height: 40px;
    -webkit-appearance: media-slider;
    min-width: 96%;
    font-size: 17px;
}
/*corps de la page*/
.propositions_menus
{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;  
    margin: 4% 3%;
}
.menus
{
    text-align: center;
    box-shadow: 0px 0px 10px 4px $Ombre;
    -moz-box-shadow: 0px 0px 10px 4px $Ombre;
    -webkit-box-shadow: 0px 0px 10px 4px $Ombre;
    min-width: 400px;
    height: 100%;
}
.titre1
{
    padding: 40% 11%;
    background:$backgroundMenu1;
}
.titre2
{
    padding: 47% 11%;
    background:$backgroundMenu2;
}
.titre3
{
    padding: 46% 11%;
    background:$backgroundMenu3;
}
.titre4
{
    padding: 46% 11%;
    background:$backgroundMenu4;
}
i
{
    font-size: 3em;
}
.fontMenu1
{
    font-family: "Devonshire", sans-serif;
    font-size: 28px;
}
.fontMenu2
{
    font-family: "Croissant One", sans-serif;
    font-size: 23px;
}
.fontMenu3
{
    font-family: "Dancing Script", sans-serif;
    font-size: 32px;
}
.fontMenu4
{
    font-family: "Kaushan Script", sans-serif;
    font-size: 29px;
}
.fontp1
{
    font-family: "Averia Libre", sans-serif;
    font-size: 40px;
}
.fontp2
{
    font-family: "Judson", sans-serif;
    font-size: 40px;
}
.fontp3
{
    font-family: "Kalam", sans-serif;
    font-size: 40px;
}
.fontp4
{
    font-family: "Kalam", sans-serif;
    font-size: 40px;
}
.prochainement
{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: $primaryColor;
    color: $primaryColorText;
    margin: 30px auto 150px auto;
    width: fit-content;
    border-radius: 10px;
    padding: 1% 9%;
}
/*pied de page*/
@include footer;
/*Responsive tablette 1024px*/
@include responsive_tablette;
@include footer_tablette;
@media screen and (max-width:1024px)
{
#site-search
{
    height: 36px;
    min-width: 93%;
    max-width: 95%;
    font-size: 15px;
}
.propositions_menus
{
    margin: 9% 3%;
}
.menus
{
    min-width: 250px;
    height: 383px;
}
.titre1
{
    padding: 36% 11%;
}
.titre2
{
    padding: 49% 4%;
}
.titre3
{
    padding: 44% 4%;
}
.titre4
{
    padding: 43% 11%;
}
.fontMenu2
{
    font-size: 20px;
}
.fontMenu3
{
    font-size: 28px;
}
.fontMenu4
{
    font-size: 27px;
}
.fontp1
{
    font-size: 30px;
}
.fontp2
{
    font-size: 30px;
}
.fontp3
{
    font-size: 30px;
}
.fontp4
{
    font-size: 30px;
}
.prochainement
{
    font-size: 25px;
    margin: 30px auto 100px auto;
    padding: 5px 55px;
}
}
/*Responsive mobile 625px*/
@include responsive_mobile;
@include footer_mobile;
@media screen and (max-width:625px)
{
#site-search
{
    min-width: 89%;
}
.propositions_menus
{
    display: grid;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;  
    margin: 4% 8%;
}
.menus
{
    margin: 6% 2%;
    max-width: 60%;
}
.titre1
{
    padding: 36% 0%;
}
.titre2
{
    padding: 49% 0%;
}
.titre3
{
    padding: 44% 0%;
}
.titre4
{
    padding: 43% 0%;
}

.prochainement
{
    font-size: 20px;
    margin: 30px auto 100px auto;
    padding: 5px 48px;
}
}