@charset "UTF-8";
/*Raccourcis variables*/
/*Général*/
body {
  margin: 0px;
}

/*Header*/
h1 {
  font-size: 83px;
  text-align: center;
  background-color: #59A989;
  color: #FFDE06;
  padding: 28px 0px;
  margin: 0px;
}

.search_bar {
  background-color: #E9EEF0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
}

.btnsearch {
  border: none;
  background-color: #E9EEF0;
  min-width: 4%;
}

.fa-search {
  font-size: 2.5em;
  min-width: 10%;
  color: #59A989;
}

#site-search {
  background-color: #E9EEF0;
  height: 40px;
  -webkit-appearance: media-slider;
  min-width: 96%;
  font-size: 17px;
}

/*corps de la page*/
.propositions_menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 4% 3%;
}

.menus {
  text-align: center;
  box-shadow: 0px 0px 10px 4px #777777;
  -moz-box-shadow: 0px 0px 10px 4px #777777;
  -webkit-box-shadow: 0px 0px 10px 4px #777777;
  min-width: 400px;
  height: 550px;
  opacity: 0.7;
}

.titre1 {
  padding-top: 46%;
  padding-bottom: 56%;
  background: #FFC4C4;
}

.titre2 {
  padding-top: 55%;
  padding-bottom: 58%;
  background: #FFF1FE;
}

.titre3 {
  padding-top: 55%;
  padding-bottom: 58%;
  background: #FAFAFF;
}

.titre4 {
  padding-top: 55%;
  padding-bottom: 58%;
  background: #FFFFFF;
}

i {
  font-size: 3em;
}

.prochainement {
  font-size: 33px;
  font-weight: bold;
  text-align: center;
  background-color: #59A989;
  color: #FFDE06;
  margin: 30px auto 150px auto;
  height: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  padding: 5px 65px;
}

/*pied de page*/
footer {
  background-color: #59A989;
  height: 50px;
  color: #FFDE06;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
}

.legal {
  margin: 8px 20px;
}

.contact {
  margin: 8px 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.bar_footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

/*Responsive tablette 1024px*/
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 75px;
  }
  #site-search {
    height: 36px;
    min-width: 93%;
    max-width: 95%;
    font-size: 15px;
  }
  .propositions_menus {
    margin: 9% 3%;
  }
  .menus {
    min-width: 250px;
    height: 383px;
  }
  .titre1 {
    padding-top: 40%;
    padding-bottom: 54%;
  }
  .titre2 {
    padding-top: 58%;
    padding-bottom: 55%;
  }
  .prochainement {
    font-size: 25px;
    margin: 30px auto 100px auto;
    height: 35px;
    padding: 5px 55px;
  }
  .legal {
    font-size: 25px;
  }
  .contact {
    font-size: 25px;
  }
}

/*Responsive mobile 625px*/
@media screen and (max-width: 625px) {
  h1 {
    font-size: 60px;
  }
  #site-search {
    min-width: 89%;
  }
  .propositions_menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .menus {
    height: 383px;
    margin: 9% auto;
  }
  .titre1 {
    padding-top: 48%;
    padding-bottom: 48%;
  }
  .prochainement {
    font-size: 20px;
    margin: 30px auto 100px auto;
    height: 30px;
    padding: 5px 48px;
  }
  .legal {
    font-size: 15px;
  }
  .contact {
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */