@import "D:/P3_Ohmyfood/design/commun.scss";
/*Général*/
body
{
    margin: 0px;
}
/*Header*/
@include header;
/*Main*/
@include main_pages_menus ;
.blocmenus
{
    background:$backgroundMenu3;
    h3
    {
        @include déliceColor;
        padding-top: 4%;
        font-size: 60px;
        font-family: "Dancing Script", sans-serif;
    }
    h4
    {
        @include déliceColor;
        font-size: 30px;
        padding-bottom: 4%;
        font-family: "Dancing Script", sans-serif;
    }
    caption
    {
        font-family: "Kalam", sans-serif;
    }
    #blueline1::before, #blueline1::after
    {
        border-bottom:$colorMenu3_1 solid;
        border-width: 6px;
    }
    #blueline2::before, #blueline2::after
    {
        border-bottom:$colorMenu3_2 solid;
        border-width: 6px;
    }
    #blueline3::before, #blueline3::after
    {
        border-bottom:$colorMenu3_3 solid;
        border-width: 6px;
    }
    tr
    {
        td
        {
            font-family: "Kalam", sans-serif;
        }
    }
}
/*pied de page*/
@include footer;
/*Responsive tablette 1024px*/
@include responsive_tablette;
@media screen and (max-width:1024px)
{
    .blocmenus
    {
        h3
        {
            font-size: 40px;
        }
        h4
        {
            font-size: 24px;
        }
    }
}
@include footer_tablette;
/*Responsive mobile 625px*/
@include responsive_mobile;
@media screen and (max-width:625px)
{
    .blocmenus
    {
        h3
        {
            font-size: 32px;
        }
        h4
        {
            font-size: 18px;
        }
    }
}
@include footer_mobile;