@import "D:/P3_Ohmyfood/design/commun.scss";
/*Général*/
body
{
    margin: 0px;
}
/*Header*/
@include header;
/*Main*/
@include main_pages_menus ;
.blocmenus
{
    background:$backgroundMenu3;
    h3
    {
        @include déliceColor;
        font-size: 35px;
        font-family: "Dancing Script", sans-serif;
    }
    h4
    {
        @include déliceColor;
        font-size: 30px;
        font-family: "Dancing Script", sans-serif;
    }
    caption
    {
        font-family: "Kalam", sans-serif;
    }
    tr
    {
        td
        {
            font-family: "Kalam", sans-serif;
        }
    }
}
/*pied de page*/
@include footer;
/*Responsive tablette 1024px*/
@include responsive_tablette;
@include footer_tablette;
/*Responsive mobile 625px*/
@include responsive_mobile;
@include footer_mobile;