@charset "UTF-8";
/*Couleurs*/
/*Couleurs menus*/
/*Dégradés*/
/*Animation zoom titre avec effet fondu*/
/*Animation points de suspensions*/
@keyframes ellipse {
  0%, 100% {
    transform: translateY(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateY(-8px);
  }
  20%, 40%, 60% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(6.4px);
  }
  90% {
    transform: translateY(-6.4px);
  }
}
/*Animation effet wiggle*/
@keyframes shake {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
/*en-tête*/
/*main*/
/*pied de page*/
/*responsive 1024*/
/*responsive 625*/
/*Général*/
body {
  margin: 0px;
}

/*Header*/
h1 {
  font-size: 83px;
  text-align: center;
  background-color: #569c87;
  color: #f0c64f;
  padding: 28px 0px;
  margin: 0px;
}

/*Main*/
h2 {
  text-align: center;
  font-size: 40px;
}

h3 {
  text-align: center;
}

.blocmenus {
  margin: 1% auto 8% auto;
  min-width: 860px;
  max-width: 684px;
  box-shadow: 0px 0px 10px 4px #e7e7e7;
  -moz-box-shadow: 0px 0px 10px 4px #e7e7e7;
  -webkit-box-shadow: 0px 0px 10px 4px #e7e7e7;
}
.blocmenus .choix {
  margin-bottom: 6%;
}

table {
  border-collapse: separate;
  margin: auto;
  table-layout: fixed;
  max-width: 38%;
  min-width: 90%;
}
table caption {
  padding: 2% 0;
  padding: 1em 0;
  text-align: center;
  overflow: hidden;
  font-size: 26px;
  font-family: georgia;
}
table caption span {
  position: relative;
}
table caption span::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #f0c64f;
  transition: 0.5s linear;
  transform: scaleX(0);
  position: absolute;
  bottom: 0;
  left: 0;
  transform-origin: 0 50%;
}
table caption span:hover::after {
  transform: scaleX(1);
}
table caption:before, table caption:after {
  content: "";
  width: 40%;
  display: inline-block;
  vertical-align: middle;
}
table caption:before {
  margin-left: -100%;
  margin-right: 3em;
}
table caption:after {
  margin-right: -100%;
  margin-left: 3em;
}
table tr td {
  font-size: 20px;
  padding: 2% 0;
}

h4 {
  text-align: center;
  margin-bottom: 7%;
}

.blocmenus {
  background: #f9f9f9;
}
.blocmenus h3 {
  color: #0228dd;
  display: block;
  background-image: -webkit-linear-gradient(left, #0228dd, #0670f3, #229df9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 4%;
  font-size: 60px;
  font-family: "Dancing Script", sans-serif;
}
.blocmenus h4 {
  color: #0228dd;
  display: block;
  background-image: -webkit-linear-gradient(left, #0228dd, #0670f3, #229df9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  padding-bottom: 4%;
  font-family: "Dancing Script", sans-serif;
}
.blocmenus caption {
  font-family: "Kalam", sans-serif;
}
.blocmenus #blueline1::before, .blocmenus #blueline1::after {
  border-bottom: #0228dd solid;
  border-width: 6px;
}
.blocmenus #blueline2::before, .blocmenus #blueline2::after {
  border-bottom: #0670f3 solid;
  border-width: 6px;
}
.blocmenus #blueline3::before, .blocmenus #blueline3::after {
  border-bottom: #229df9 solid;
  border-width: 6px;
}
.blocmenus tr td {
  font-family: "Kalam", sans-serif;
}

/*pied de page*/
.bar_footer {
  background-color: #569c87;
  height: 50px;
  color: #f0c64f;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.legal {
  margin: 8px 20px;
}
.legal:hover {
  animation: shake 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.contact {
  margin: 8px 20px;
}
.contact:hover {
  animation: shake 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}

/*Responsive tablette 1024px*/
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 75px;
  }

  .blocmenus {
    min-width: 90%;
    max-width: 78%;
  }

  table {
    border-spacing: 6px;
  }
  table caption {
    font-size: 24px;
  }
  table tr .plat {
    width: 66%;
    font-size: 20px;
  }
  table tr .prix {
    width: 8%;
    font-size: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .blocmenus h3 {
    font-size: 40px;
  }
  .blocmenus h4 {
    font-size: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .legal {
    font-size: 25px;
  }

  .contact {
    font-size: 25px;
  }
}
/*Responsive mobile 625px*/
@media screen and (max-width: 625px) {
  h1 {
    font-size: 60px;
  }

  main {
    margin: 0%;
  }

  h2 {
    font-size: 30px;
  }

  .blocmenus {
    width: 100%;
    margin: 1% auto 20% auto;
  }

  table {
    border-spacing: 15px;
  }
  table caption {
    font-size: 16px;
  }
  table caption:before {
    margin-right: 0.5em;
  }
  table caption:after {
    margin-left: 0.5em;
  }
  table tr .plat {
    width: 60%;
    font-size: 16px;
  }
  table tr .prix {
    width: 15%;
    font-size: 16px;
  }
}
@media screen and (max-width: 625px) {
  .blocmenus h3 {
    font-size: 32px;
  }
  .blocmenus h4 {
    font-size: 18px;
  }
}
@media screen and (max-width: 625px) {
  .legal {
    font-size: 15px;
  }

  .contact {
    font-size: 15px;
  }
}

/*# sourceMappingURL=ledelicedespapilles.css.map */
