@import "D:/P3_Ohmyfood/design/commun.scss";
/*Général*/
body
{
    margin: 0px;
}
/*Header*/
@include header;
/*Main*/
@include main_pages_menus;
.blocmenus
{
    background: $backgroundMenu1;
    .titre
    {
        font-size: 28px;
        text-align: center;
        color: $colorMenu1;
        font-family: "Devonshire", sans-serif;
        @include notemusic;
        .icon
        {
            margin-top: 8%;
            .fa-itunes-note
            {
                font-size: 85px;
            }
        }
        h3
        {
            margin: 0%;
            margin-bottom: 6%;
            color: $colorMenu1;
            font-size: 60px;
        }
    }
    caption
    {
        color: $colorMenu1;  
        font-weight: bold;
        font-family: "Kalam", sans-serif;
    }
    caption::before, caption::after
    {
        border-bottom:$colorMenu1 solid;
        border-width: 6px;
        &:hover 
        {
            text-decoration-color :$primaryColor;
            text-decoration-line  : underline;
            text-decoration-style : solid;
        }
    }
    tr
    {
        td
        {
            color: $colorMenu1;
            font-family: "Kalam", sans-serif;
        }
    }
    .prix
    {
        font-weight: bold;
    }
    .titleBottom
    {
        text-align: center;
        ul
        {
        display: -webkit-inline-box;
        list-style-type: none;
        -webkit-box-align: baseline;
            li
            {
                margin: 0 2%;
                @include notemusic;
                .fa-itunes-note
                {
                    font-size: 38px;
                }
                h4
                {
                color: $colorMenu1;
                font-size: 40px;
                font-family: "Devonshire", sans-serif;
                }
            }
        }
    }
}
/*pied de page*/
@include footer;
.bar_footer
{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
/*Responsive tablette 1024px*/
@include responsive_tablette;
@media screen and (max-width:1024px)
{
    .blocmenus
    {
        margin-bottom: 80px;
        .titre
        {
            .icon
            {
                .fa-itunes-note
                {
                    font-size: 60px;
                }
            }
            h3
                {
                    font-size: 40px;
                }
        }
        table
        {
            max-width: 30%;
        }
        .titleBottom
        {
            ul
            {
                li
                {
                    .fa-itunes-note
                    {
                        font-size: 30px;
                    }
                    h4
                    {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
@include footer_tablette;
/*Responsive mobile 625px*/
@media screen and (max-width:1024px)
{
    .blocmenus
    {
        .titre
        {
            .fa-itunes-note
            {
                font-size: 40px;
            }
            h3
            {
                font-size: 36px;
            }
        }
        .titleBottom
        {
            ul
            {
                li
                {
                    .fa-itunes-note
                    {
                        font-size: 20px;
                    }
                    h4
                    {
                        font-size: 20px;
                    }
                }
            }
        }
        table
        {
            max-width: 0px;
            .prix
            {
                max-width: 13%;
            }
        }
    }
}
@include responsive_mobile;
@include footer_mobile;