@import "D:/P3_Ohmyfood/design/commun.scss";
/*Général*/
body
{
    margin: 0px;
}
/*Header*/
@include header;
/*Main*/
@include main_pages_menus;
.blocmenus
{
    background: $backgroundMenu1;
    .titre
    {
        font-size: 28px;
        text-align: center;
        color: $colorMenu1;
        font-family: "Devonshire", sans-serif;
        @include notemusic;
        .icon
        {
            margin-top: 8%;
            .fa-itunes-note
            {
                font-size: 85px;
            }
        }
        h3
        {
            margin: 0%;
            margin-bottom: 6%;
        }
    }
    caption
    {
        color: $colorMenu1;  
        font-weight: bold;
        font-family: "Kalam", sans-serif;
    }
    tr
    {
        td
        {
            color: $colorMenu1;
            font-family: "Kalam", sans-serif;
        }
    }
    .prix
        {
            font-weight: bold;
        }
    ul
    {
        display: -webkit-box;
        list-style-type: none;
        -webkit-box-align: baseline;
        margin: 0 35%;
        padding-inline-start: 0%;
        li
        {
            margin: 0 2%;
            @include notemusic;
            h4
            {
                color: $colorMenu1;
                font-size: 40px;
                font-family: "Devonshire", sans-serif;
            }
        }
    }
}
/*pied de page*/
@include footer;
.bar_footer
{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
/*Responsive tablette 1024px*/
@include responsive_tablette;
@include footer_tablette;
/*Responsive mobile 625px*/
@include responsive_mobile;
@include footer_mobile;